html,
body {
  height: 100%;
}

body {
  background-color: lightgray;
}

#blackjack-container {
  height: 100%;
  margin-top: 5%;
  min-height: 50%;
  min-width: 50%;
  width: 100%;
}

#header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#header-title {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3em;
  text-align: center;
}

#header-image {
  border-radius: 25px;
  height: 20%;
  margin: auto;
  margin-bottom: 1%;
  width: 20%;
}

#table {
  background-color: #006600;
  border: 35px solid #1b1b1b;
  border-radius: 100px;
  height: 80%;
  margin: auto;
  width: 80%;
  margin-bottom: 10%;
}

#bank-bet-container {
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#player-bank,
#bet-amount {
  width: 100%;
  display: flex;
  justify-content: center;
  color: yellow;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#game-actions-container,
#dealer,
#player {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-actions-container {
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
}

#dealer,
#player {
  flex-direction: column;
  height: 25%;
}

#dealer-cards-text,
#dealer-cards,
#dealer-score,
#player-cards-text,
#player-cards,
#player-score {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

#player-cards-text {
  float: left;
}

#start-button,
#deal-button,
#stand-button,
#hit-button,
#new-game-button {
  width: 80px;
  height: 25px;
  border-radius: 5px;
  font-weight: 800;
}

#bet-buttons-container {
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

#bet-one-button,
#bet-five-button,
#bet-twenty-five-button,
#bet-hundred-button,
#bet-five-hundred-button,
#bet-thousand-button {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 14px;
  font-weight: 800;
  padding: 0;
}

#bet-one-button {
  border: 5px dashed blue;
}

#bet-five-button {
  border: 5px dashed red;
}

#bet-twenty-five-button {
  border: 5px dashed green;
}

#bet-hundred-button {
  border: 5px dashed black;
}

#bet-five-hundred-button {
  border: 5px dashed purple;
}

#bet-thousand-button {
  border: 5px dashed orange;
}

.hidden {
  display: none;
}

.card {
  background-color: white;
  box-shadow: 4px 4px black;
  border-radius: 5px;
  color: black;
  height: 60px;
  margin: 5px;
  padding: 10px;
  width: 45px;
}
